@import "reset";
@import "mixins";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	min-width: 320px;
  	box-sizing: border-box;
  	background-image: url('../images/bkgd-region-mobile.jpg');
	background-size: cover;
	background-position: center;
	background-color: #0584AA;
	@include xlarge {
  		background-image: url('../images/bkgd-region-desktop.jpg');
		
  	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 660px;
	font-family: "futura-pt",sans-serif;
}

button {
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

strong {
	font-weight: 700;
}

.hidden {
	visibility: hidden;
}

.container {
	width: 83%;
	margin: 0 auto;
	position: relative;
	@include clearfix;
	@include large{
		max-width: 600px;
	}
	@include xlarge {
		max-width: 1200px;
	}
	@include xxlarge {
		max-width: 1600px;
	}
}

.external-links {
	padding: 20px 0;
	clear: both;
	> a {
		display: inline-block;
		margin: 0 10px;
	}
}

.facebook {
	width: 2%;
}

.twitter {
	width: 4.4%;
}

.google {
	width: 5%;
}

.instagram {
	width: 4%;
}

.social-media {
	img {
		width: 100%;
		height: auto;
	}
}

.visitSite {
	font-size: 0.84375em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	&::before,
	&::after {
		color: #047eb0;
		content:"\00b7";
	}
	&::before {
		padding-right: 10px;
	}
	&::after {
		padding-left: 10px;
	}
	@include large {
		font-size: 1.3125em;
	}
}

.btn {
	text-transform: uppercase;
	font-size: 0.8em;
	display: block;
	text-decoration: none;
	font-weight: 700;
	color: #6fc3f3;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.25);
	line-height: 1;
	&:hover {
		span {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,6fc3f3+100 */
			color: #047eb0;
			background-image: none;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #6fc3f3 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#6fc3f3 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #ffffff 0%,#6fc3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6fc3f3',GradientType=0 ); /* IE6-9 */	
			&::before,
			&::after {
				content:"\00b7";
			}
			&::before {
				padding-right: 5px;
			}
			&::after {
				padding-left: 5px;
			}
		}
	}
	span {
		display: block;
		padding: 15px;
		margin: 2px;
		line-height: 1em;
		background-image: url('../images/bkgd-button.png');
	}

	&.howToPlay {
		margin-right: 2%;
	}
	&.viewTrailer {
		margin-left: 2%;
	}
	@include large {
		font-size: 1.125em;
	}
}

.main-container {
	width: 100%;
	height: 100%;
	min-height: 667px;
	text-align: center;
	border: 0;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: bottom center;
	position: absolute;
	padding-bottom: 10%;
	background-image: url('../images/bkgd-game-mobile-1.jpg');
	background-color: #0584AA;
	&.background-1 {
		background-image: url('../images/bkgd-game-mobile-1.jpg') !important;
	}
	&.background-2 {
		background-image: url('../images/bkgd-game-mobile-2.jpg') !important;
	}
	&.background-3 {
		background-image: url('../images/bkgd-game-mobile-3.jpg') !important;
	}
	@include large {
		height: auto;
		background-image: url('../images/bkgd-game-desktop-1.jpg');
		min-height: 750px;
		background-size: cover;
		&.background-1 {
			background-image: url('../images/bkgd-game-desktop-1.jpg') !important;
		}
		&.background-2 {
			background-image: url('../images/bkgd-game-desktop-2.jpg') !important;
			background-position: top center;
		}
		&.background-3 {
			background-image: url('../images/bkgd-game-desktop-3.jpg') !important;
		}
	}
	@include xlarge {
		height: 100%;
		padding-bottom: 0;
		.container {
			height: 100%;
			display: table;
			padding-bottom: 0;
			> div {
				height: 100%;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

.main-left {
	margin-bottom: 20px;
    padding-top: 30%;
	@include xlarge {
		width: 39%;
		float: left;
		padding-top: 0;
	}
}

.main-right {
	@include xlarge {
		width: 40%;
		float: right;
	}	
}

.main-title {
    margin: 20px auto;
    position: absolute;
    top: 0;
	@include clearfix;
	@include xlarge {
		margin: 0;
		position: static;
	}
}

.movie-logo {
	float: left;
	width: 22%;
	margin-top: 15px;
	@include xlarge {
		width: 33.33%;
		float: none;
		margin-top: 0 !important;
		margin: 0 auto;
	}
	img {
		width: auto;
		max-width: 100%;
	}
	span {
		width: 100%;
		color: #fff;
		display: block;
		text-align: center;
		padding: 3px 0;
		letter-spacing: 1px;
		font-weight: 300;
		font-size: 0.5em;
		@include large {
			font-size: 0.75em;
		}
		@include xlarge {
			font-size: 1em;
		}
	}
}

.game-logo {
	float: right;
	width: 74%;
	margin-top: 10px;
	@include xlarge {
		float: none;
		width: 100%;
		margin: 8% auto;
	}
	img {
		width: 100%;
	}
}

.main-buttons {
	a {
		width: 48%;
		float: left;
		@include xlarge {
			width: 100%;
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

img.dory {
	width: 18%;
	max-width: 156px;
	display: block;
	margin: 20px auto;
}

.region-container {
	min-height: 500px;
	background-image: url('../images/bkgd-region-mobile.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 105%;
	top: 0;
	left: 0;
	text-align: center;
	overflow: auto;
	display: table;
	padding-bottom: 20%;
	@include xlarge {
		min-height: 980px;
		background-image: url('../images/bkgd-region-desktop.jpg');
		padding-bottom: 0;
	}
	.region-selectors {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
	.region-selector {
		width: 30%;
		max-width: 230px;
		display: block;
		margin: 0 10px 20px;
		cursor: pointer;
		@include xlarge {
			width: 100%;
 		}
		img {
			width: 100%;
			height: auto;
		}
	}
}

.regions {
	max-width: 1025px;
	@include clearfix;
	@include xlarge {
		width: 90%;
		margin: 0 auto;
	}
}

.region-row {
	text-align: center;
	@include clearfix;
	@include xlarge {
		width: 25%;
		float: left;
	}
	> * {
		display: inline-block !important;
		@include xlarge {
			display: block !important;
		}
	}
}

.region-label {
	letter-spacing: 1px;
	display: block;
	margin-bottom: 10px;
	font-size: 0.575em;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	@include large {
		font-size: 1.3125em;
	}
	@include xlarge {
		font-size: 1.125em;
		margin-bottom: 20px;
	}
}

.region-other-container {
	width: 100%;
    clear: both;
    max-width: 456px;
    margin: 0 auto;
    @include clearfix;
    @include xlarge {
    	position: relative;
    	left: 40px;
    }
	.region-other {
		margin-top: 20px;
		@include xlarge {
			float: left;
			margin: 0 40px;
		}
	}
}

.region-selectors {
	opacity: 0;
	html.show-region-selectors & {
		opacity: 1;
	}
}

#latin-america {
	margin: 0 auto;
	.region-other-selector {
		width: 75%;
		max-width: 119px;
		margin: 0 auto;
		display: block;
		img {
			width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}
}

#SEAsia {	
	background-color: rgba(255, 255, 255, 0.25); 
	padding: 25px 20px;
	img:nth-child(2) {
		margin: 0 10px;
	}
}

.copyright {
	font-size: 0.75em;
	color: #fff;
	text-align: center;
	width: 100%;
	left: 0;
	font-size: 0.5em;
	position: absolute;
	.main-container & {
		position: static;
		margin-top: 20px;
		clear: both;
		@include xlarge {
			position: absolute;
			bottom: 50px;
		}
		@include xlarge {
			position: absolute;
			bottom: 25px;
		}
	}
	.region-container & {
		bottom: 50px;
	}
	@include large {
		font-size: 1.1875em;
	}
	@include xlarge {
		font-size: 0.9125em;
	}
	.rating {
		float: left;
		width: 5%;
		height: 30px;
		margin-top: 5px;
		max-width: 25px;
		background-size: contain;
		background-repeat: no-repeat;
		html.us & {
			background-image: url('../images/us-rating.png');
		}
		html.au & {
			background-image: url('../images/au-rating.png');
		}
	}
}

.audio-btn {
	width: 5%;
	float: right;
	max-width: 20px;
	&.on {
		img.audio-on {
			display: block !important;
		}
		img.audio-off {
			display: none !important;
		}
	}
	img.audio-off {
		display: block;
	}
	> img {
		width: 100%;
		height: auto;
		display: none;
	}
}

.mfp-close-btn-in .mfp-close {
	color: #fff !important;
	opacity: 1;
	font-size: 40px;
}

#howtoplay {
	max-width: 600px;
	margin: 0 auto;
	width: 90%;
	height: 95%;
	margin: 5%;
	padding: 20px;
	top: 0;
	left: 0;
	background-image: url('../images/bkgd-howtoplay-mobile.jpg');
	position: fixed;
	background-size: cover;
	background-position: bottom center;
	text-align: center;
	color: #fff;
	@include large {
		width: 600px;
		min-height: 700px;
		left: 0;
		margin-left: 0;
		margin: 0 auto;
		background-image: url('../images/bkgd-howtoplay-desktop.jpg');
		height: auto;
		position: relative;
	}
	@include xlarge {
		width: 795px;
		max-width: 795px;
	}
	.container {
		position: relative;
		width: 80%;
		margin: 0 auto;
		@include xlarge {
			width: 90%;
			padding-top: 50px;
		}
	}
	.movie-logo {
		width: 33.33%;
		margin: 20px auto;
		float: none;
		@include large {
			margin: 40px auto;
		}
		@include xlarge {
			width: 22%;
			float: left;
			margin: 0;
		}
	}
	.game-logo {
		width: 100%;
		float: none;
		margin-bottom: 20px;
		@include large {
			margin-bottom: 40px;
		}
		@include xlarge {
			width: 60%;
			float: right;
			margin: 0;
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: 0.875em;
		font-weight: 700;
		@include large {
			font-size: 1.125em;
		}
		@include xlarge {
			padding-top: 50px;
		}
	}
	p {
		margin: 20px 0;
		font-size: 0.875em;
		line-height: 1.525;
		@include large {
			font-size: 1.125em;
		}
		em {
			font-size: 1.125em;
			font-weight: 300;
		}
	}
	.howtoplay-row {
		width: 100%;
		clear: both;
		@include clearfix;
	}
	.howtoplay-left {
		@include xlarge {
			width: 45%;
			float: left;
		}
	}
	.howtoplay-right {
		@include clearfix;
		@include xlarge {
			width: 45%;
			padding-top: 50px;
			float: right;
		}	
		> img {
			width: 46%;
			height: auto;
			float: left;
			margin-bottom: 40px;
			padding: 3px;    
			border: 1px solid #6fc3f3;
			&:nth-child(2) {
				margin-left: 8%;
			}
		}
		a {
			clear: both;
		}
	}
}

.game-border {
    border: 1px solid #6fc3f3;
    position: relative;
}

.game {
	margin: 5px 5px 3px 5px;
	background-image: url('../images/game/background-backup.jpg');
	.game-intialized & {
		background-image: none;
	}
}

#bkgd-video {
	position: absolute;
	top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	display: none;
	background-size: auto 98%;
	opacity: 0;
	.video.videoautoplay & {
		display: block;
	}
	video {
		width: 100%;
    	height: 100%;
   }
}

.loading {
	width: 100%;
	font-size: 2em;
	text-align: center;
	position: absolute;
	top: 40%;
	font-weight: 700;
	color: #fff;
	span {
		display: block;
		margin: 10px 0;
	}
}

#game-container {
	opacity: 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.lightbox {
	display: none;
}

#trailer {
	width: 100% !important;
}

#US {
	display: inline;
}

#BR {
  display:inline;
}

#latam{
  margin-bottom:20px;
}

#NL{
	display:inline;
}

#GR{
	display:inline;
	margin:0 auto;
	padding-bottom:15px;
}

.mexico{
    margin: 0 10px 20px;
    display:inline;
    max-width:230px;
}

.mexico img{
	max-width:230px;
}

@media(max-width:1200px){
	.mexico img{
		width:30%
	}
}

.display-none{
	display:none;
}

@media (max-width:1199px){
	.greek-font-size{
		font-size: .4em !important;
    	line-height: 10px;
    	width: 120% !important;
    	margin-left: -8px;
    	padding: 0px 0 !important;
	}
}